<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i> Anaysayfaya dön</a>
  </div>
  <div class="col-md-6"></div>
</div>


<div class="card">
  <h3 class="card-header">
    Ayarları degiştir
  </h3>
  <div class="card-block">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label >Kayıt olmaya izin ver</label>
        <input type="text" class="checkbox"
               [checked]="settings.allowRegistration"
        (change)="settings.allowRegistration =! settings.allowRegistration ">
      </div>
      <div class="form-group">
        <label >Bakiyeyi eklenmez</label>
        <input type="text" class="checkbox"
               [checked]="settings.disableBalanceOnAdd"
               (change)="settings.disableBalanceOnAdd =! settings.disableBalanceOnAdd ">
      </div>
      <div class="form-group">
        <label >Bakiye Degiştirilemez</label>
        <input type="text" class="checkbox"
               [checked]="settings.disableBalanceOnEdit"
               (change)="settings.disableBalanceOnEdit =! settings.disableBalanceOnEdit ">
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="gönder">

    </form>
  </div>
</div>
